<ng-template [ngIf]="config.views === 'empty'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon (click)="handleClickOpen($event);"></div>
  <strong>Het invullen van dit onderdeel is verplicht</strong>

</ng-template>

<ng-template [ngIf]="config.views === 'closed'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon (click)="handleClickOpen($event);"></div>
  <div m-definition-list [config]="definitionListConfig"></div>

  <div class="definition-list">
      <div class="definition-list__pair">
        <div class="definition-list__term">Hoeveel uur wilt u werken?</div>
        <div class="definition-list__description">
          Minimaal 24 uur per week <br>
          Maximaal 40 uur per week <br>
          Kantoortijden
        </div>
      </div>
      <div class="definition-list__pair">
        <div class="definition-list__term">Bent u nu beschikbaar voor werk?</div>
        <div class="definition-list__description">Nee</div>
      </div>
  </div>

</ng-template>

<ng-template [ngIf]="config.views === 'open'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon enabled="true" (click)="handleClickClose($event);"></div>

  <form class="form cv-wizard__form" >

    <fieldset>
      <legend class="form-label">Hoeveel uur wilt u werken?</legend>
      <div class="form-row">
        <label for="min" class="form-label">Minimaal </label>
        <input id="min" class="form-input form-input--small" type="text" name="min" [(ngModel)]="formData.min">
        <span class="form-row__description">uur per week</span>
      </div>
      <div class="form-row">
        <label for="max" class="form-label">Maximaal </label>
        <input id="max" class="form-input form-input--small" type="text" name="max" [(ngModel)]="formData.max">
        <span class="form-row__description">uur per week</span>
      </div>
    </fieldset>
    <div class="form-row">
      <fieldset>
        <legend class="form-label">Soort werktijden <abbr class="required" title="dit veld is verplicht">*</abbr></legend>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="Kantoortijden" name="workTimes" [(ngModel)]="formData.workTimes">Kantoortijden
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="Wisselende werktijden" name="workTimes" [(ngModel)]="formData.unemployed">Wisselende werktijden
        </label>
      </fieldset>
    </div>

    <div class="form-row">
      <fieldset>
        <legend class="form-label">Bent u nu beschikbaar voor werk? <abbr class="required" title="dit veld is verplicht">*</abbr></legend>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="ja" name="unemployedSoon" [(ngModel)]="formData.available">Ja
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="nee" name="unemployedSoon" [(ngModel)]="formData.available">Nee
        </label>
      </fieldset>
    </div>

    <div class="form-row" *ngIf="formData.available === 'nee'">
      <label for="availableWhen" class="form-label">Per wanneer bent u beschikbaar voor werk? <abbr class="required" title="dit veld is verplicht">*</abbr></label>
      <input id="availableWhen" class="form-input form-input--medium" type="text" name="birthDate" [(ngModel)]="formData.availableWhen">
      <a href="#" (click)=gotoPage($event) class="form-calendar">
        <svg class="icon icon--calendar">
          <title>Kies datum</title>
          <use xlink:href="#calendar"></use>
        </svg>
      </a>
      <span class="form-row__description">(dd-mm-jjjj)</span>
    </div>

    <div class="form-controls">
      <button type="button" class="form-controls__button button button--primary" (click)="handleClickSave()">Opslaan</button>
      <button type="button" class="form-controls__button button button--default" (click)="handleClickClose()">Annuleren</button>
    </div>
  </form>

</ng-template>
