<ng-template [ngIf]="config.views === 'empty'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon (click)="handleClickOpen($event);"></div>
  <p class="intro">Geef aan hoe u gevonden wilt worden.</p>
  <strong>Het invullen van dit onderdeel is verplicht</strong>

</ng-template>

<ng-template [ngIf]="config.views === 'closed'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon (click)="handleClickOpen($event);"></div>

  <div class="definition-list">
      <div class="definition-list__pair">
        <div class="definition-list__term">Hoe wilt u uw cv op werk.nl plaatsen?</div>
        <div class="definition-list__description">{{ formData.privacy }}</div>
      </div>
      <div class="definition-list__pair">
        <div class="definition-list__term">Wilt u dat een werkgever u op onderstaande doelgroep(en) kan vinden?</div>
        <div class="definition-list__description">Gehandicapten en chronisch zieken: {{ formData.handycap }}</div>
      </div>
  </div>
</ng-template>

<ng-template [ngIf]="config.views === 'open'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon enabled="true" (click)="handleClickClose($event);"></div>

  <form class="form cv-wizard__form">

    <fieldset class="edit-block__field">
      <legend class="h3 edit-block__legend">Vindbaarheid</legend>
      <div class="form-row">
        <fieldset>
          <legend class="form-label">Hoe wilt u uw cv op werk.nl plaatsen? <abbr class="required" title="dit veld is verplicht">*</abbr></legend>
          <label class="form-radio">
            <input class="form-radio__input" name="Openbaar" type="radio" value="Openbaar"  [(ngModel)]="formData.privacy">Openbaar
          </label>
          <label class="form-radio">
            <input class="form-radio__input" name="Annoniem" type="radio" value="Annoniem"  [(ngModel)]="formData.privacy">Annoniem
          </label>
        </fieldset>
      </div>
      <i *ngIf="formData.privacy === 'Annoniem'">U heeft op 'Anoniem' geklikt. Uit onderzoek blijkt dat een werkgever u eerder voor werk benadert wanneer uw cv openbaar is.</i>
    </fieldset>

    <fieldset class="edit-block__field">
      <legend class="h3 edit-block__legend">Doelgroepen</legend>

      <p>Bepaalde groepen mensen hebben meer moeite met het vinden van werk. Er zijn werkgevers die zich voor deze doelgroep(en) inzetten. UWV ondersteunt dit.</p>
      <p>Op werk.nl kunnen werkgevers nadat ze zijn ingelogd, gericht zoeken naar werkzoekenden uit bepaalde doelgroep(en). Meer informatie vindt u op de pagina <a href="#">Doelgroepen</a>.</p>

      <p>Wilt u dat een werkgever u op onderstaande doelgroep(en) kan vinden?</p>

      <div class="form-row">
        <fieldset>
          <legend class="form-label">Gehandicapten en chronisch zieken <abbr class="required" title="dit veld is verplicht">*</abbr></legend>
          <label class="form-radio">
            <input class="form-radio__input" type="radio" value="Ja" name="selfEmpoyment" [(ngModel)]="formData.handycap">Ja
          </label>
          <label class="form-radio">
            <input class="form-radio__input" type="radio" value="Nee" name="selfEmpoyment" [(ngModel)]="formData.handycap">Nee
          </label>
        </fieldset>
      </div>
      <i *ngIf="formData.handycap === 'Nee'">U heeft op 'Nee' geklikt. Werkgevers die alleen op zoek zijn naar personeel uit een bepaalde doelgroep, vinden uw cv als u hier op 'Ja' klikt.</i>
    </fieldset>

    <div class="form-controls">
      <button class="form-controls__button button button--primary" type="button" (click)="handleClickSave($event);">Opslaan</button>
      <button class="form-controls__button button button--default" type="button" (click)="handleClickClose($event);">Annuleren</button>
    </div>
  </form>

</ng-template>
