<ng-template [ngIf]="config.views === 'empty'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <div a-edit-block-title [config]="titleConfig"></div>
    <div a-edit-block-icon></div>
  </div>
</ng-template>

<ng-template [ngIf]="config.views === 'closed'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <div a-edit-block-title [config]="titleConfig"></div>
    <div a-edit-block-icon></div>
    <div m-definition-list [config]="definitionListConfig"></div>
  </div>
</ng-template>

<ng-template [ngIf]="config.views === 'open'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <form #formPersonalInfoRef="ngForm" class="form cv-wizard__form">
    <div class="alert alert--error" *ngIf="formPersonalInfoRef.submitted && !formPersonalInfoRef.valid">
      <svg class="alert__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert-error"></use>
      </svg>
      Pas onderstaande gegevens aan en klik op 'Opslaan'
    </div>
    <div class="form-row">
      <label for="voornaam" class="form-label">Voornaam <abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="voornaam" class="form-input" type="text" [(ngModel)]="formData.firstName" name="firstName" required>
    </div>
    <div class="form-row">
      <label for="voorletters" class="form-label">Voorletters <abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="voorletters" class="form-input form-input--small" type="text" [(ngModel)]="formData.initials" name="initials" required>
    </div>
    <div class="form-row">
      <label for="tussenvoegsel" class="form-label">Tussenvoegsel</label>
      <input id="tussenvoegsel" class="form-input form-input--small" type="text" [(ngModel)]="formData.surnamePrefix" name="surnamePrefix">
    </div>
    <div class="form-row">
      <label for="achternaam" class="form-label">Achternaam <abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="achternaam" class="form-input" type="text" name="surname" [(ngModel)]="formData.surname" required>
    </div>
    <div class="form-row">
      <label for="geboortedatum" class="form-label">Geboortedatum <abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="geboortedatum" class="form-input form-input--medium" type="text" name="birthDate" [(ngModel)]="formData.birthDate" required>
      <a href="#" (click)=gotoPage($event) class="form-calendar">
        <svg class="icon icon--calendar">
          <title>Kies datum</title>
          <use xlink:href="#calendar"></use>
        </svg>
      </a>
      <span class="form-row__description">(dd-mm-jjjj)</span>
    </div>
    <div class="form-row">
      <fieldset>
        <legend class="form-label">Geslacht <abbr class="required" title="dit veld is verplicht">*</abbr></legend>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="Vrouw" name="gender" [(ngModel)]="formData.gender" required>Vrouw
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="Man" name="gender" [(ngModel)]="formData.gender" required>Man
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="radio" type="radio" value="Onbekend" name="gender" [(ngModel)]="formData.gender" required>Onbekend
        </label>
      </fieldset>
    </div>
    <div class="form-row">
      <fieldset>
        <legend class="form-label">Ik woon in Nederland<abbr class="required" title="dit veld is verplicht">*</abbr></legend>
        <label class="form-radio">
          <input class="form-radio__input" name="woonachtig-in-nederland" type="radio" value="Ja" name="livesInNetherlands" [(ngModel)]="formData.livesInNetherlands">Ja
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="woonachtig-in-nederland" type="radio" value="Nee" name="livesInNetherlands" [(ngModel)]="formData.livesInNetherlands">Nee
        </label>
      </fieldset>
    </div>
    <div class="form-row">
      <label for="postcode" class="form-label">Postcode<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="postcode" class="form-input form-input--medium" type="text" name="zipcode" [(ngModel)]="formData.zipcode" required>
      <span class="form-row__description">(1234AB)</span>
    </div>
    <div class="form-row">
      <label for="huisnummer" class="form-label">Huisnummer<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="huisnummer" class="form-input form-input--small" type="number" name="houseNumber" [(ngModel)]="formData.houseNumber" required>
    </div>
    <div class="form-row">
      <label for="toevoeginghuisnummer" class="form-label">Toevoeging huisnummer<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="toevoeginghuisnummer" class="form-input form-input--small" type="text" name="houseNumberAddition" [(ngModel)]="formData.houseNumberAddition">
    </div>
    <div class="form-row">
      <label for="straat" class="form-label">Straat<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="straat" class="form-input" type="text" name="street" [(ngModel)]="formData.street">
    </div>
    <div class="form-row">
      <label for="plaats" class="form-label">Plaats<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="plaats" class="form-input" type="text" name="city" [(ngModel)]="formData.city">
    </div>
    <div class="form-row">
      <label for="telefoonnummer" class="form-label">Telefoonnummer<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="telefoonnummer" class="form-input form-input--medium" type="text" name="phoneNumber" [(ngModel)]="formData.phoneNumber">
      <span class="form-row__description">(0612345678)</span>
    </div>
    <div class="form-row">
      <label for="email" class="form-label">E-mail<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="email" class="form-input" type="email" name="email" [(ngModel)]="formData.email" required>
    </div>
    <div class="form-row">
      <label for="emailherhalen" class="form-label">E-mail herhalen<abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="emailherhalen" class="form-input" type="email" name="emailRepeat" [(ngModel)]="formData.emailRepeat" required>
    </div>
    <div class="form-controls">
      <button class="form-controls__button button button--primary" type="button" (click)="handleClickSave($event);">Opslaan</button>
      <button class="form-controls__button button button--default" type="button" (click)="handleClickClose($event);">Annuleren</button>
    </div>
  </form>
</ng-template>
