<ng-template [ngIf]="config.views === 'empty'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <div a-edit-block-title [config]="titleConfig"></div>
    <div a-edit-block-icon></div>
    <p class="cv-wizard__introtext">
      Vul hier uw opleiding en/of cursussen in. Zijn er al gegevens voor u ingevuld, controleer die dan.
    </p>
  </div>
</ng-template>

<ng-template [ngIf]="config.views === 'form'">
  <h2 class="edit-block__title">
    Opleidingen en cursussen
    <abbr class="edit-block__required" title="dit is een veplicht onderdeel">*</abbr>
  </h2>
  <p>
    Vul hier uw opleiding en/of cursussen in. Zijn er al gegevens voor u iOpleidingngevuld, controleer die dan.
  </p>

  <form class="form" #formKnowledgesRef="ngForm" novalidate>
    <div class="form-row" *ngIf="(!educations.length || !courses.length) && !editModeIsOn">

      <!-- Error message -->
      <div class="alert alert--error" *ngIf="formKnowledgesRef.submitted && !formKnowledgesRef.valid">
        <svg class="alert__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert-error"></use>
        </svg>
        Pas onderstaande gegevens aan en klik op 'Opslaan'
        <br>
        'opleiding of cursus' is een verplicht veld
      </div>

      <fieldset *ngIf="!educations.length && !courses.length">
        <legend class="form-label form-label--bold">
          Heeft u een opleiding gevolgd? Of volgt u nu een opleiding of cursus
          <abbr class="required" title="dit veld is verplicht">*</abbr>
        </legend>
        <label class="form-radio">
          <input  class="form-radio__input" name="radioConfirmationKnowledge" type="radio" value="ja" [(ngModel)]="toggleForm" required>
          Ja
        </label>
        <label class="form-radio">
          <input  class="form-radio__input" name="radioConfirmationKnowledge" type="radio" value="nee" [(ngModel)]="toggleForm" required>
          Nee
        </label>
      </fieldset>
    </div>

    <div class="form-controls" *ngIf="toggleForm === 'nee' || !toggleForm">
      <button type="button" class="form-controls__button button button--primary" (click)="handleSave()" *ngIf="toggleForm === 'nee'">
        Opslaan
      </button>
      <button type="submit" class="form-controls__button button button--primary" *ngIf="!toggleForm">
        Opslaan
      </button>
      <button type="button" class="form-controls__button button button--default" (click)="handleCancelForm()">
        Annuleren
      </button>
    </div>

    <ng-template [ngIf]="toggleForm === 'ja'">
      <div *ngIf="!editModeIsOn">
        <legend class="form-label form-label--bold">
          Wat wilt u toevoegen?
          <abbr class="required" title="dit veld is verplicht">*</abbr>
        </legend>
        <label class="form-radio" for="radioEducation">
          <input class="form-radio__input" name="radioEducation" id="radioEducation" type="radio" value="education" [(ngModel)]="toggleFormType" #toggleFormTypeRef="ngModel" checked>
          Opleiding
        </label>
        <label class="form-radio" for="radioCourse">
          <input  class="form-radio__input" name="radioEducation" id="radioCourse" type="radio" value="course" [(ngModel)]="toggleFormType" #toggleFormTypeRef="ngModel">
          Cursus
        </label>
      </div>

      <fieldset ngModelGroup="education" *ngIf="toggleFormType === 'education'" class="cv-wizard__fieldset">
        <div class="form-row">
          <label for="educationTitle" class="form-label form-label--bold">
            Opleiding <abbr title="dit veld is verplicht">*</abbr>
          </label>
          <input id="educationTitle" class="form-input" type="text" name="title" [ngModel]="education.title">
        </div>

        <div class="form-row">
          <label for="companyEducation" class="form-label">
            Instelling <abbr class="required" title="dit veld is verplicht">*</abbr>
          </label>
          <input id="companyEducation" class="form-input" type="text" name="company" [ngModel]="education.company">
        </div>

        <fieldset>
          <legend class="form-label form-label--bold">
            Gestart in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startMonthEducation">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="startMonthEducation" class="form-select form-select--medium" name="startMonth" [ngModel]="education.startMonth">
              <option *ngFor="let month of months" value="{{ month }}">{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startYearEducation">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="startYearEducation" class="form-input form-input--medium" name="startYear" [(ngModel)]="education.startYear">
          </div>
        </fieldset>

        <fieldset>
          <legend class="form-label form-label--bold">
            Geëindigd in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endMonthEducation">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="endMonthEducation" class="form-select form-select--medium" name="endMonth" [ngModel]="education.endMonth">
              <option *ngFor="let month of months" value="{{ month }}">{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endYearEducation">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="endYearEducation" class="form-input form-input--medium" name="endYear" [ngModel]="education.endYear">
          </div>
          <div class="form-row form-row--inline form-row--related">
            <label class="form-checkbox">
              <input class="form-checkbox__input" type="checkbox" name="current">
              Dit is mijn huidige opleiding
            </label>
          </div>
        </fieldset>

        <div class="form-row">
          <fieldset>
            <legend class="form-label">
              Heeft u een diploma <abbr class="required" title="dit veld is verplicht">*</abbr>
            </legend>
            <label class="form-radio" for="diplomaYes">
              <input class="form-radio__input" id="diplomaYes" name="diploma" type="radio" value="Ja" [ngModel]="education.diploma">
              Ja
            </label>

            <label class="form-radio" for="diplomaNo">
              <input class="form-radio__input" id="diplomaNo" name="diploma" type="radio" value="Nee" [ngModel]="education.diploma">
              Nee
            </label>

            <label class="form-radio" for="diplomaNvt">
              <input class="form-radio__input" id="diplomaNvt" name="diploma" type="radio" value="Niet van toepassing" [ngModel]="education.diploma">
              Niet van toepassing
            </label>
          </fieldset>
        </div>

        <div class="form-row">
          <label class="form-label" for="descriptionEducation">
            Beschrijf de opleiding
          </label>
          <textarea class="form-textarea" id="descriptionEducation" name="description" rows="5" [ngModel]="education.description" #descriptionEducation></textarea>
          <div class="form-row__description">
            Maximaal {{ charCount.maxAllowed }} tekens toegestaan. {{ descriptionEducation.value.length }} tekens ingevuld
          </div>
        </div>
      </fieldset>

      <fieldset ngModelGroup="course" *ngIf="toggleFormType === 'course'" class="cv-wizard__fieldset">
        <div class="form-row">
          <label for="courseTitle" class="form-label form-label--bold">
            Cursus <abbr title="dit veld is verplicht">*</abbr>
          </label>
          <input id="courseTitle" class="form-input" type="text" name="title" [ngModel]="course.title">
        </div>

        <div class="form-row">
          <label for="companyCourse" class="form-label">
            Instelling <abbr class="required" title="dit veld is verplicht">*</abbr>
          </label>
          <input id="companyCourse" class="form-input" type="text" name="company" [ngModel]="course.company">
        </div>

        <fieldset>
          <legend class="form-label form-label--bold">
            Gestart in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startMonthCourse">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="startMonthCourse" class="form-select form-select--medium" name="startMonth" [ngModel]="course.startMonth">
              <option *ngFor="let month of months" value="{{ month }}">{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startYearCourse">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="startYearCourse" class="form-input form-input--medium" name="startYear" [(ngModel)]="course.startYear">
          </div>
        </fieldset>

        <fieldset>
          <legend class="form-label form-label--bold">
            Geëindigd in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endMonthCourse">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="endMonthCourse" class="form-select form-select--medium" name="endMonth" [ngModel]="course.endMonth">
              <option *ngFor="let month of months" value="{{ month }}">{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endYearCourse">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="endYearCourse" class="form-input form-input--medium" name="endYear" [ngModel]="course.endYear">
          </div>
          <div class="form-row form-row--inline form-row--related">
            <label class="form-checkbox">
              <input class="form-checkbox__input" type="checkbox" name="current">
              Dit is mijn huidige cursus
            </label>
          </div>
        </fieldset>

        <div class="form-row">
          <label class="form-label" for="descriptionCourse">
            Beschrijf de cursus of training
          </label>
          <textarea class="form-textarea" id="descriptionCourse" name="description" rows="5" [ngModel]="course.description" #descriptionCourse></textarea>
          <div class="form-row__description">
            Maximaal {{ charCount.maxAllowed }} tekens toegestaan. {{ descriptionCourse.value.length }} tekens ingevuld
          </div>
        </div>
      </fieldset>

      <div class="form-controls">
        <button type="button" class="form-controls__button button button--primary" (click)="handleSubmit(formKnowledgesRef.value)" *ngIf="toggleFormType === 'education' || toggleFormType === 'course'">
          Toevoegen
        </button>
        <button type="button" class="form-controls__button button button--default" (click)="handleCancelForm()">
          Annuleren
        </button>
      </div>
    </ng-template>
  </form>
</ng-template>

<!-- Subform -->
<ng-template [ngIf]="config.views === 'subform' && (educations.length || courses.length)">
  <h2 class="edit-block__title">
    Opleidingen en cursussen <abbr class="edit-block__required" title="dit is een veplicht onderdeel">*</abbr>
    <svg class="icon icon--check edit-block__check">
      <title>Afgerond</title>
      <use xlink:href="#check"></use>
    </svg>
  </h2>
  <p>
    Vul hier uw opleiding en/of cursussen in. Zijn er al gegevens voor u ingevuld, controleer die dan.
  </p>
  <button class="button button--default button--has-icon-left button--responsive cv-wizard__add-button" (click)="handleAddMoreItem($event)">
    <svg class="icon icon--plus button__icon button__icon--left">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use>
    </svg>
    Opleiding en curus toevoegen
  </button>
  <div class="cv-wizard__overview" *ngIf="educations.length">
    <h3 class="cv-wizard__subtitle">
      Opleidingen
    </h3>
    <ul class="action-list definition-list">
      <li class="action-list__item" *ngFor="let item of educations; let i = index">
        <div class="action-list__content">
          <div class="definition-list__term">
            {{item.education.title}} - {{item.education.company}}
          </div>
          <div class="definition-list__duration">
            {{item.education.startMonth}} {{item.education.startYear}} - {{item.education.endMonth}} {{item.education.endYear}}
            <span class="definition-list__description-addon">
              | {{item.education.diploma}}
            </span>
          </div>
          <div class="definition-list__description" *ngIf="item?.education.description">
            {{item.education.description}}
          </div>
        </div>
        <div class="action-list__actions">
          <a href="#" (click)="handleEditItem($event, item, i)" class="definition-list__link">
            <svg class="icon icon--edit button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use></svg>
            Bewerken
          </a>
          <a href="#" (click)="handleDeleteItem($event, item, i)" class="action-list__link">
            <svg class="icon icon--delete button__icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use></svg>
            Verwijderen
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="cv-wizard__overview" *ngIf="courses.length">
    <h3 class="cv-wizard__subtitle">
      Cursusses
    </h3>
    <ul class="action-list definition-list">
      <li class="action-list__item" *ngFor="let item of courses; let i = index">
        <div class="action-list__content">
          <div class="definition-list__term">
            {{item.course.title}} - {{item.course.company}}
          </div>
          <div class="definition-list__duration">
            {{item.course.startMonth}} {{item.course.startYear}} - {{item.course.endMonth}} {{item.course.endYear}}
          </div>
          <div class="definition-list__description" *ngIf="item?.course.description">
            {{item.course.description}}
          </div>
        </div>
        <div class="action-list__actions">
          <a href="#" (click)="handleEditItem($event, item, i)" class="definition-list__link">
            <svg class="icon icon--edit button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use></svg>
            Bewerken
          </a>
          <a href="#" (click)="handleDeleteItem($event, item, i)" class="action-list__link">
            <svg class="icon icon--delete button__icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use></svg>
            Verwijderen
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="form-controls">
    <button type="button" class="form-controls__button button button--default" (click)="handleContinueForm()">
      Verder
    </button>
  </div>
</ng-template>

<!-- Completed empty -->
<div *ngIf="config.views === 'completed-empty'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <h2 class="edit-block__title">
      Opleiding en cursussen
      <svg class="icon icon--check edit-block__check">
        <title>Afgerond</title>
        <use xlink:href="#check"></use>
      </svg>
    </h2>
    <p>
      Vul hier uw opleiding en/of cursussen in. Zijn er al gegevens voor u ingevuld, controleer die dan.
    </p>
    <div a-edit-block-icon></div>
    <div class="form-row">
      <div class="form-label">
        Heeft u een opleiding gevolgd? Of volgt u nu een opleiding of cursus?
        <abbr class="required" title="dit veld is verplicht">*</abbr>
      </div>
      <i>Nee</i>
    </div>
  </div>
</div>

<!-- Completed -->
<div *ngIf="config.views === 'completed'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <h2 class="edit-block__title">
      Opleiding en cursussen
      <svg class="icon icon--check edit-block__check">
        <title>Afgerond</title>
        <use xlink:href="#check"></use>
      </svg>
    </h2>
    <p>
      Vul hier uw opleiding en/of cursussen in. Zijn er al gegevens voor u ingevuld, controleer die dan.
    </p>
    <div a-edit-block-icon></div>
    <div class="cv-wizard__overview" *ngIf="educations.length && !editModeIsOn">
      <h3 class="cv-wizard__subtitle">
        Opleidingen
      </h3>
      <ul class="action-list definition-list">
        <li class="action-list__item" *ngFor="let item of educations; let i = index">
          <div class="action-list__content">
            <div class="definition-list__term">
              {{item.education.title}} - {{item.education.company}}
            </div>
            <div class="definition-list__duration">
              {{item.education.startMonth}} {{item.education.startYear}} - {{item.education.endMonth}} {{item.education.endYear}}
              <span class="definition-list__description-addon">
                | {{item.education.diploma}}
              </span>
            </div>
            <div class="definition-list__description" *ngIf="item?.education.description">
              {{item.education.description}}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="cv-wizard__overview" *ngIf="courses.length && !editModeIsOn">
      <h3 class="cv-wizard__subtitle">
        Cursusses
      </h3>
      <ul class="action-list definition-list">
        <li class="action-list__item" *ngFor="let item of courses; let i = index">
          <div class="action-list__content">
            <div class="definition-list__term">
              {{item.course.title}} - {{item.course.company}}
            </div>
            <div class="definition-list__duration">
              {{item.course.startMonth}} {{item.course.startYear}} - {{item.course.endMonth}} {{item.course.endYear}}
            </div>
            <div *ngIf="item?.course.description">
              {{item.course.description}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
