<ng-template [ngIf]="config.views === 'empty'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <div a-edit-block-title [config]="titleConfig"></div>
    <div a-edit-block-icon></div>
    <p class="cv-wizard__introtext">
      Vul hier uw werkervaring en/of nevenactiviteiten in. Zin er al gegevens voor u ingevuld, controleer die dan.
    </p>
  </div>
</ng-template>

<ng-template [ngIf]="config.views === 'form'">
  <h2 class="edit-block__title">
    Werkervaringen en nevenactiviteiten
    <abbr class="edit-block__required" title="dit is een veplicht onderdeel">*</abbr>
  </h2>
  <p>
    Vul hier uw werkervaring en/of nevenactiviteiten in. Zin er al gegevens voor u ingevuld, controleer die dan.
  </p>

  <form class="form" #formExperiencesRef="ngForm" novalidate>
    <div class="form-row" *ngIf="(!workexperiences.length || !activities.length) && !editModeIsOn">
      <!-- Error message -->
      <div class="alert alert--error" *ngIf="formExperiencesRef.submitted && !formExperiencesRef.valid">
        <svg class="alert__icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert-error"></use>
        </svg>
        Pas onderstaande gegevens aan en klik op 'Opslaan'
        <br>
        'Uw huidige baan' is een verplicht veld
      </div>

      <fieldset *ngIf="!activities.length && !workexperiences.length">
        <legend class="form-label form-label--bold">
          Heeft u werkervaring of nevenactiviteiten
          <abbr class="required" title="dit veld is verplicht">*</abbr>
        </legend>
        <label class="form-radio">
          <input  class="form-radio__input" name="radioConfirmationWorkexperience" type="radio" value="ja" [(ngModel)]="toggleForm" required>
          Ja
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="radioConfirmationWorkexperience" type="radio" value="nee" [(ngModel)]="toggleForm" required>
          Nee
        </label>
      </fieldset>
    </div>

    <div class="form-controls" *ngIf="toggleForm === 'nee' || !toggleForm">
      <button type="button" class="form-controls__button button button--primary" (click)="handleSave()" *ngIf="toggleForm === 'nee'">
        Opslaan
      </button>
      <button type="submit" class="form-controls__button button button--primary" *ngIf="!toggleForm">
        Opslaan
      </button>
      <button type="button" class="form-controls__button button button--default" (click)="handleCancelForm()">
        Annuleren
      </button>
    </div>

    <ng-template [ngIf]="toggleForm === 'ja'">
      <div *ngIf="!editModeIsOn">
        <legend class="form-label form-label--bold">
          Wat wilt u toevoegen?
          <abbr class="required" title="dit veld is verplicht">*</abbr>
        </legend>
        <label class="form-radio" for="radioWorkexperience">
          <input class="form-radio__input" name="radioWorkexperience" id="radioWorkexperience" type="radio" value="work" [(ngModel)]="toggleFormType" #toggleFormTypeRef="ngModel" checked>
          Werkervaring
        </label>
        <label class="form-radio" for="radioWorkActivity">
          <input  class="form-radio__input" name="radioWorkActivity" id="radioWorkActivity" type="radio" value="activity" [(ngModel)]="toggleFormType" #toggleFormTypeRef="ngModel">
          Nevenactiviteit
        </label>
      </div>

      <fieldset ngModelGroup="work" *ngIf="toggleFormType === 'work'" class="cv-wizard__fieldset">
        <div class="form-row">
          <label for="jobTitleWork" class="form-label form-label--bold">
            Beroep <abbr title="dit veld is verplicht">*</abbr>
          </label>
          <input id="jobTitleWork" class="form-input" type="text" name="jobTitle" [ngModel]="work.jobTitle">
        </div>
        <div class="form-row">
          <label for="companyWork" class="form-label form-label--bold">
            Werkgever <abbr class="required" title="dit veld is verplicht">*</abbr>
          </label>
          <input id="companyWork" class="form-input" type="text" name="company" value="work.company" [ngModel]="work.company">
        </div>

        <fieldset>
          <legend class="form-label form-label--bold">
            Gestart in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startMonthWork">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="startMonthWork" class="form-select form-select--medium" name="startMonth" [ngModel]="work.startMonth">
              <option *ngFor="let month of months" value="{{ month }}">{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startYearWork">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="startYearWork" class="form-input form-input--medium" name="startYear" [ngModel]="work.startYear">
          </div>
        </fieldset>

        <fieldset>
          <legend class="form-label form-label--bold">
            Geëindigd in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endMonthWork">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="endMonthWork" class="form-select form-select--medium" name="endMonth" [ngModel]="work.endMonth">
              <option *ngFor="let month of months" value="{{ month }}" >{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endYearWork">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="endYearWork" class="form-input form-input--medium" name="endYear" [ngModel]="work.endYear">
          </div>
          <div class="form-row form-row--inline form-row--related">
            <label class="form-checkbox">
              <input class="form-checkbox__input" type="checkbox" name="current">
              Dit is mijn huidige baan
            </label>
          </div>
          <div class="form-row">
            <label for="weeklyHours" class="form-label form-label--bold">
              Hoeveel uur per week werkt(e) u hier? <abbr title="dit veld is verplicht">*</abbr>
            </label>
            <input id="weeklyHours" class="form-input form-input--medium" type="number" name="weeklyHours" value="" [ngModel]="work.weeklyHours">
          </div>

          <div class="form-row">
            <label class="form-label form-label--bold" for="descriptionWork">
              Uw taken en verantwoordelijkheiden
            </label>
            <textarea class="form-textarea" id="descriptionWork" name="description" rows="5" [ngModel]="work.description" #descriptionWork>
            </textarea>
            <div class="form-row__description">
              Maximaal {{ charCount.maxAllowed }} tekens toegestaan. {{ descriptionWork.value.length }} tekens ingevuld
            </div>
          </div>
        </fieldset>
      </fieldset>

      <fieldset ngModelGroup="activity" *ngIf="toggleFormType === 'activity'" class="cv-wizard__fieldset">
        <div class="form-row">
          <label for="jobTitleActivity" class="form-label form-label--bold">
            Rol/activiteit <abbr title="dit veld is verplicht">*</abbr>
          </label>
          <input id="jobTitleActivity" class="form-input" type="text" name="jobTitle" [ngModel]="activity.jobTitle">
        </div>
        <div class="form-row">
          <label for="companyActivity" class="form-label form-label--bold">
            Instantie, vereniging of club <abbr class="required" title="dit veld is verplicht">*</abbr>
          </label>
          <input id="companyActivity" class="form-input" type="text" name="company" [ngModel]="activity.company">
        </div>

        <fieldset>
          <legend class="form-label form-label--bold">
            Gestart in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startMonthActivity">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="startMonthActivity" class="form-select form-select--medium" name="startMonth" [ngModel]="activity.startMonth">
              <option *ngFor="let month of months" value="{{ month }}" >{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="startYearActivity">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="startYearActivity" class="form-input form-input--medium" name="startYear" [ngModel]="activity.startYear">
          </div>
        </fieldset>

        <fieldset>
          <legend class="form-label form-label--bold">
            Geëindigd in
          </legend>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endMonthActivity">
              Maand <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <select id="endMonthActivity" class="form-select form-select--medium" name="endMonth" [ngModel]="activity.endMonth">
              <option *ngFor="let month of months" value="{{ month }}" >{{ month }}</option>
            </select>
          </div>
          <div class="form-row form-row--inline">
            <label class="form-label" for="endYearActivity">
              Jaar <abbr class="required" title="dit veld is verplicht">*</abbr>
            </label>
            <input type="number" id="endYearActivity" class="form-input form-input--medium" name="endYear" [ngModel]="activity.endYear">
          </div>
          <div class="form-row form-row--inline form-row--related">
            <label class="form-checkbox">
              <input class="form-checkbox__input" type="checkbox" name="current">
              Dit is mijn huidige activiteit
            </label>
          </div>
        </fieldset>

        <div class="form-row">
          <label class="form-label form-label--bold" for="descriptionActivity">
            Uw taken en verantwoordelijkheiden
          </label>
          <textarea class="form-textarea" id="descriptionActivity" name="description" rows="5" [ngModel]="activity.description" #descriptionActivity>
          </textarea>
          <div class="form-row__description">
            Maximaal {{ charCount.maxAllowed }} tekens toegestaan. {{ descriptionActivity.value.length }} tekens ingevuld
          </div>
        </div>
      </fieldset>

      <div class="form-controls">
        <button type="button" class="form-controls__button button button--primary" (click)="handleSubmit(formExperiencesRef.value)" *ngIf="toggleFormType === 'activity' || toggleFormType === 'work'">
          Toevoegen
        </button>
        <button type="button" class="form-controls__button button button--default" (click)="handleCancelForm()">
          Annuleren
        </button>
      </div>

      <div class="cv-wizard__works" *ngIf="workexperiences.length && !editModeIsOn">
        <h3 class="cv-wizard__subtitle">
          Beroepen
        </h3>
        <ul class="action-list definition-list">
          <li class="action-list__item" *ngFor="let item of workexperiences; let i = index">
            <div class="action-list__content">
              <div class="definition-list__term">
                {{item.work.jobTitle}} - {{item.work.company}}
              </div>
              <div class="definition-list__duration">
                {{item.work.startMonth}} {{item.work.startYear}} - {{item.work.endMonth}} {{item.work.endYear}}
                <span class="definition-list__description-addon" *ngIf="item?.work.weeklyHours">
                  | {{item.work.weeklyHours}} p.w.
                </span>
              </div>
              <div *ngIf="item?.work.description">
                {{item.work.description}}
              </div>
            </div>
            <div class="action-list__actions">
              <a href="#" (click)="handleEditItem(item, i)" class="definition-list__link">
                <svg class="icon icon--edit button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use></svg>
                Bewerken
              </a>
              <a href="#" (click)="handleDeleteItem($event, item, i)" class="action-list__link">
                <svg class="icon icon--delete button__icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use></svg>
                Verwijderen
              </a>
            </div>
          </li>
        </ul>
      </div>

      <div class="cv-wizard__activities" *ngIf="activities.length && !editModeIsOn">
        <h3 class="cv-wizard__subtitle">Nevenactiviteiten</h3>
        <ul class="action-list definition-list">
          <li class="action-list__item" *ngFor="let item of activities; let i = index">
            <div class="action-list__content">
              <div class="definition-list__term">
                {{item.activity.jobTitle}} - {{item.activity.company}}
              </div>
              <div class="definition-list__duration">
                {{item.activity.startMonth}} {{item.activity.startYear}} - {{item.activity.endMonth}} {{item.activity.endYear}}
              </div>
              <div class="definition-list__description-activity" *ngIf="item?.activity.description">
                {{item.activity.description}}
              </div>
            </div>
            <div class="action-list__actions">
              <a href="#" (click)="handleEditItem(item, i)" class="definition-list__link">
                <svg class="icon icon--edit button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use></svg>
                Bewerken
              </a>
              <a href="#" (click)="handleDeleteItem($event, item, i)" class="action-list__link">
                <svg class="icon icon--delete button__icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use></svg> Verwijderen
              </a>
            </div>
          </li>
        </ul>
      </div>
    </ng-template>
  </form>
</ng-template>

<ng-template [ngIf]="config.views === 'subform' && (workexperiences.length || activities.length)">
  <h2 class="edit-block__title">
    Werkervaringen en nevenactiviteiten <abbr class="edit-block__required" title="dit is een veplicht onderdeel">*</abbr>
    <svg class="icon icon--check edit-block__check">
      <title>Afgerond</title>
      <use xlink:href="#check"></use>
    </svg>
  </h2>
  <p>
    Vul hier uw werkervaring en/of nevenactiviteiten in. Zin er al gegevens voor u ingevuld, controleer die dan.
  </p>
  <button class="button button--default button--has-icon-left button--responsive cv-wizard__add-button" (click)="handleAddMoreItem($event)">
    <svg class="icon icon--plus button__icon button__icon--left">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#plus"></use>
    </svg>
    werkervaringen en nevenactiviteiten toevoegen
  </button>

  <div class="cv-wizard__overview" *ngIf="workexperiences.length">
    <h3 class="cv-wizard__subtitle">
      Beroepen
    </h3>
    <ul class="action-list definition-list">
      <li class="action-list__item" *ngFor="let item of workexperiences; let i = index">
        <div class="action-list__content">
          <div class="definition-list__term">
            {{item.work.jobTitle}} - {{item.work.company}}
          </div>
          <div class="definition-list__duration">
            {{item.work.startMonth}} {{item.work.startYear}} - {{item.work.endMonth}} {{item.work.endYear}}
            <span class="definition-list__description-addon" *ngIf="item?.work.weeklyHours">
              | {{item.work.weeklyHours}} p.w.
            </span>
          </div>
          <div *ngIf="item?.work.description">
            {{item.work.description}}
          </div>
        </div>
        <div class="action-list__actions">
          <a href="#" (click)="handleEditItem($event, item, i)" class="definition-list__link">
            <svg class="icon icon--edit button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use></svg>
            Bewerken
          </a>
          <a href="#" (click)="handleDeleteItem($event, item, i)" class="action-list__link">
            <svg class="icon icon--delete button__icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use></svg>
            Verwijderen
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="cv-wizard__overview" *ngIf="activities.length">
    <h3 class="cv-wizard__subtitle">Nevenactiviteiten</h3>
    <ul class="action-list definition-list">
      <li class="action-list__item" *ngFor="let item of activities; let i = index">
        <div class="action-list__content">
          <div class="definition-list__term">
            {{item.activity.jobTitle}} - {{item.activity.company}}
          </div>
          <div class="definition-list__duration">
            {{item.activity.startMonth}} {{item.activity.startYear}} - {{item.activity.endMonth}} {{item.activity.endYear}}
          </div>
          <div *ngIf="item?.activity.description">
            {{item.activity.description}}
          </div>
        </div>
        <div class="action-list__actions">
          <a href="#" (click)="handleEditItem($event, item, i)" class="definition-list__link">
            <svg class="icon icon--edit button__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#edit"></use></svg>
            Bewerken
          </a>
          <a href="#" (click)="handleDeleteItem($event, item, i)" class="action-list__link">
            <svg class="icon icon--delete button__icon"> <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#delete"></use></svg> Verwijderen
          </a>
        </div>
      </li>
    </ul>
  </div>

  <div class="form-controls">
    <button type="button" class="form-controls__button button button--default" (click)="handleContinueForm()">
      Verder
    </button>
  </div>
</ng-template>

<div *ngIf="config.views === 'completed-empty'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <h2 class="edit-block__title">
      Werkervaringen en nevenactiviteiten
      <svg class="icon icon--check edit-block__check">
        <title>Afgerond</title>
        <use xlink:href="#check"></use>
      </svg>
    </h2>
    <p>
      Vul hier uw werkervaring en/of nevenactiviteiten in. Zin er al gegevens voor u ingevuld, controleer die dan.
    </p>
    <div a-edit-block-icon></div>
    <div class="form-row">
      <div class="form-label form-label--bold">
        Heeft u werkervaring of nevenactiviteiten? <abbr class="required" title="dit veld is verplicht">*</abbr>
      </div>
      <i>Nee</i>
    </div>
  </div>
</div>

<!-- Completed -->
<div *ngIf="config.views === 'completed'">
  <div class="edit-block--clickable" (click)="handleClickOpen($event);">
    <h2 class="edit-block__title">
      Werkervaringen en nevenactiviteiten
      <svg class="icon icon--check edit-block__check">
        <title>Afgerond</title>
        <use xlink:href="#check"></use>
      </svg>
    </h2>
    <p>
      Vul hier uw werkervaring en/of nevenactiviteiten in. Zin er al gegevens voor u ingevuld, controleer die dan.
    </p>
    <div a-edit-block-icon></div>
    <div class="cv-wizard__overviews" *ngIf="workexperiences.length && !editModeIsOn">
      <h3 class="cv-wizard__subtitle">
        Beroepen
      </h3>
      <ul class="action-list definition-list">
        <li class="action-list__item" *ngFor="let item of workexperiences; let i = index">
          <div class="action-list__content">
            <div class="definition-list__term">
              {{item.work.jobTitle}} - {{item.work.company}}
            </div>
            <div class="definition-list__duration">
              {{item.work.startMonth}} {{item.work.startYear}} - {{item.work.endMonth}} {{item.work.endYear}}
              <span class="definition-list__description-addon" *ngIf="item?.work.weeklyHours">
                | {{item.work.weeklyHours}} p.w.
              </span>
            </div>
            <div *ngIf="item?.work.description">
              {{item.work.description}}
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="cv-wizard__overviews" *ngIf="activities.length && !editModeIsOn">
      <h3 class="cv-wizard__subtitle">
        Nevenactiviteiten
      </h3>
      <ul class="action-list definition-list">
        <li class="action-list__item" *ngFor="let item of activities; let i = index">
          <div class="action-list__content">
            <div class="definition-list__term">
              {{item.activity.jobTitle}} - {{item.activity.company}}
            </div>
            <div class="definition-list__duration">
              {{item.activity.startMonth}} {{item.activity.startYear}} - {{item.activity.endMonth}} {{item.activity.endYear}}
            </div>
            <div *ngIf="item?.activity.description">
              {{item.activity.description}}
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
