<ng-template [ngIf]="config.views === 'empty'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon (click)="handleClickOpen($event);"></div>
  <p class="intro">Geef aan hoe u gevonden wilt worden.</p>
  <strong>Het invullen van dit onderdeel is verplicht</strong>

</ng-template>

<ng-template [ngIf]="config.views === 'closed'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon (click)="handleClickOpen($event);"></div>

  <div class="definition-list">
      <div class="definition-list__pair">
        <div class="definition-list__term">Mag een werkgever u bellen?</div>
        <div class="definition-list__description">{{ formData.phone }}</div>
      </div>
      <div class="definition-list__pair" *ngIf="formData.phone === 'Ja'">
        <div class="definition-list__term">Geef hier aan via welk nummer een werkgever u kan bereiken</div>
        <div class="definition-list__description">{{ formData.phonenumber }}</div>
      </div>
  </div>
</ng-template>

<ng-template [ngIf]="config.views === 'open'">

  <div a-edit-block-title [config]="titleConfig"></div>
  <div a-edit-block-icon enabled="true" (click)="handleClickClose($event);"></div>

  <form class="form cv-wizard__form">


    <div class="form-row">
      <fieldset>
        <legend class="form-label">Mag een werkgever u bellen? <abbr class="required" title="dit veld is verplicht">*</abbr></legend>
        <label class="form-radio">
          <input class="form-radio__input" name="phoneYes" type="radio" value="Ja"  [(ngModel)]="formData.phone">Ja
        </label>
        <label class="form-radio">
          <input class="form-radio__input" name="phoneNo" type="radio" value="Nee"  [(ngModel)]="formData.phone">Nee
        </label>
      </fieldset>
    </div>
    <i *ngIf="formData.phone === 'Nee'">U heeft op 'Nee' geklikt. Uit onderzoek blijkt dat een werkgever u eerder voor werk benadert wanneer u hier op 'Ja' klikt en uw telefoonnummer vermeldt.</i>



    <div class="form-row" *ngIf="formData.phone === 'Ja'">
      <label for="phonenumber" class="form-label">Geef hier aan via welk nummer een werkgever u kan bereiken <abbr class="required" title="dit veld is verplicht">*</abbr> </label>
      <input id="phonenumber" class="form-input form-input--medium" name="phonenumber" type="text" [(ngModel)]="formData.phonenumber">
      <span class="form-row__description">(0612345678)</span>
    </div>

    <div class="form-controls">
      <button class="form-controls__button button button--primary" type="button" (click)="handleClickSave($event);">Opslaan</button>
      <button class="form-controls__button button button--default" type="button" (click)="handleClickClose($event);">Annuleren</button>
    </div>
  </form>

</ng-template>
